html {
  background: #FFFDED;
}

.center_full {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_middle {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto 
}

.standard_text {
  font-family: monospace;
}

.button {
  background-color: #FA8334;
  color: white;
  font-family: monospace;
  font-size: 25px;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.text_box{
  width: 400px;
  height: 20px;
}

.title {
  font-size: 150px;
  color: white;
}